/* SCREEN SIZE BREAK POINTS */

$mobile: 768px;

/* COLORS */

$white: #fff;
$black: #1e1e1e;
$grey: #adacac;
$blue: #77ACC6;

/* FONTS */

$main: 'Rokkitt', serif;
$secondary: 'Passion One', cursive;